[submodule "djx"]
	path = djx
	url = git@github.com:dkollective/djx.git
	branch = notebook
[submodule "data"]
	path = data
	url = git@gitlab.gwdg.de:mpib/chm/hci/algorithmic-institutions-data.git
	branch = main
