*/**/__pycache__
*/**/.ipynb_checkpoints
*.egg-info
*.log

build

temp/**/*
data/
jobs/
wandb/

.DS_Store
.venv
.env.sh
.env
.vscode
.artifactinclude_rsync

run/*/train

evals/
models/
.claude/test-logs/
.log/

!temp/placeholder.txt



!notebooks/evalutation/archive/plots/manager_v3_16_target_updated3/q_values.jpg

# Claude Code
.claude/settings.local.json
.claude/worktrees

# Cache files
*_cache.pkl
src/aimanager/evaluation_suite/examples/
